<div class="h-screen relative text-white">
  <img
    src="https://www.dropbox.com/s/kqe1tp1oipsftsv/imagem-header.jpeg?raw=1"
    alt=""
    class="absolute top-0 left-0 w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="absolute left-0 bottom-0 right-0 py-1">
    <div class="max-w-screen-xl mx-auto px-col-gap-half">
      <p class="text-lg md:text-xl font-bold">
        {{ title }}
      </p>
      <p class="w-full max-w-2/3 md:max-w-7/12 text-md md:text-lg font-normal">
        {{ description }}
      </p>
    </div>
  </div>
</div>
