<div
  class="mx-auto max-w-screen-xl px-col-gap-half py-1 flex justify-between items-center"
>
  <a href="{{ links.home }}">
    <img
      src="https://www.dropbox.com/s/4vky07jygx69gyv/logo-footer.png?raw=1"
      class="max-w-logo-size-footer w-full mr-1"
      alt="Logo"
    />
  </a>
  <p class="text-sm text-white">
    Copyright Caiado & Filhos Alumínios, Lda.,
    <date dateformat="YYYY" data-current-year></date>. {{ allRightsReserved }}.
  </p>
</div>
