<button 
  aria-expanded="false" 
  class="lg:hidden menu-btn w-40px h-40px flex flex-col justify-around items-stretch" 
  aria-label="menu"
  data-toggle-menu
>
  <div class="h-0 border-2 border-red"></div>
  <div class="h-0 border-2 border-red"></div>
  <div class="h-0 border-2 border-red"></div>
</button>
